{
    "env": {
        "browser": true,
        "es6": true,
        "node": true
    },
    "extends": ["airbnb/base"],
    "rules": {
        "no-param-reassign":"off",
        "no-mixed-operators":"off",
        "eqeqeq":"off",
        "no-plusplus":"off",
        "func-names":"off",
        "no-restricted-globals":"off",
        "quotes":"off"
    }
}